body {
	padding: 0;
	margin: 0;
	font: 0.85em "Lucida Grande", Lucida, Verdana, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

img {
	border: none;
}

h1 {
	font-size: 2em;
	padding: 5px 0;
	margin: 0;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
	padding: 5px 0;
	margin: 0;
	font-weight: normal;
}

h3 {
	font-size: 1.2;
	padding: 5px 0;
	margin: 0;
	font-weight: normal;
}

h4 {
	font-size: 1.1;
	padding: 3px 0;
	margin: 0;
	font-weight: normal;
}

/* Table Styles */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 4px 8px 4px 8px; /* top right bottom left */
    text-align: left;
}

th {
	background-color: #80A919
}

//tr:nth-child(even) {background-color: #80A919}


body {
	background-color: #222222;
	color: #FFFFFF;
}

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

a:link, a:visited {
	color: #80A919;
}

/*
form {
	color: #ACD83E;
}

label {
	color:#070B0F;
}
*/