/* @group General Styles */

body {
	padding: 0;
	margin: 0;
	font: 0.85em "Lucida Grande", Lucida, Verdana, sans-serif;
}

p {
	padding-bottom: 0px;
}

b, strong {

}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

img {
	border: none;
}

.image-left {
	float: left;
	margin: 3px 10px 3px 0;
}

.image-right {
	float: right;
	margin: 3px 0 3px 10px;
}
	
/* @end */

/* @group Layout */

#title {
	height: 72px;
	position: relative;
	margin: 0 auto;
	padding: 0 20px 0 22px;
}

#container {
	margin: 0 auto;
	z-index: 2;
	padding: 0 0px;
}

.clearer {
	clear: both;
}

#bar {
	height: 7px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	position: absolute;
	top: 96px;
	left: 0;
	z-index: 1;
}

#pageHeader {
	position: relative;
	z-index: 10;
}

#pageHeader img {
}

#pageHeader h1 {
	font-size: 2.4em;
	font-weight: normal;
	font-style: normal;
}

#pageHeader h2 {
	font-size: 1.3em;
	font-weight: normal;
	font-style: italic;
	padding-left: 6px;
	letter-spacing: 1px;
}

#contentContainer {
	line-height: 1.5;
}

#content {
	//padding: 20px 15px 30px 0;
	font-size: 0.9em;
}

#sidebarContainer {
	width: 242px;
	line-height: 1.5;
}

#sidebarContainer #sidebar{
	font-size: 0.8em;
}


#sidebarContainer .sideHeader {
	font-size: 1.2em;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #595959;
}

#sidebarContainer h1{
	font-size: 1.4em;
	
	padding-bottom: 10px;
	margin-bottom: 6px;
	border-bottom: 1px dashed #c9c9c9;
	font-weight: normal;
	font-style: normal;
}

#sidebarContainer h2{
	font-size: 1.25em;	
	padding-bottom: 10px;
	margin-bottom: 6px;
	border-bottom: 1px dashed #c9c9c9;
	font-weight: normal;
	font-style: normal;
}

#sidebarContainer h3 {
	font-size: 1em;
	padding-bottom: 10px;
	margin-bottom: 6px;
	border-bottom: 1px dashed #c9c9c9;
	font-weight: normal;
	font-style: normal;
}

#footer { 
	margin: 0 auto;
	
}

#footer p {
	padding: 0 0 6px 0;
	margin: 0;
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}

#footerContainer {
	font-size: 0.85em;
	height: 39px;
	border-top-style: solid;
	border-top-width: 7px;
	padding: 17px 0px 15px 0px;
}
/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
	float:right;
}

#breadcrumbcontainer ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
}

#breadcrumbcontainer a:hover {
}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
	height: 30px;
	position: absolute;
	z-index: 300;	

}

#navcontainer #current, #navcontainer .currentAncestor{
}

#navcontainer ul ul #current , #navcontainer ul ul .currentAncestor {
}

/* Parent - Level 0 */

#navcontainer ul{
	margin: 0;
	padding: 0;
	z-index: 5;
	list-style-type: none;
}

#navcontainer li {
	position: relative;
	display: inline;
	float: left;
}



#navcontainer a {
	display: block;
	padding: 6px 15px 17px;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.1em;
}

#navcontainer a:hover {
	background: transparent;
}

#navcontainer a:active {
}

/* Child - Level 1 */
/* All browsers will use this code, it will make the pop out menus work */


#navcontainer ul ul {
	position: absolute;
	top: 30px;
	left: 5px;
	right: 0;
	display: none;
	z-index: 6;
	font-size: 0.75em;
	width: 173px;
	padding: 0 0px;
	margin-top: 10px;
}

#navcontainer ul ul li {
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	
}

#navcontainer ul ul a {
	padding: 6px 0px 6px 8px;
	display: block;
	width: 163px;
	height: auto;
	font-size: 1.3em;
}

#navcontainer ul ul a:hover {

}

#navcontainer ul ul #current{
}


/* Child Level 3 */

#navcontainer ul ul ul {
	position: absolute;
	left: 171px;
	top: -11px;
	z-index: 120;
	font-size: 1em;
}

#navcontainer ul ul ul li { 

}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a{
}

#navcontainer ul ul ul ul a:hover{

}

div#navcontainer ul ul, div#navcontainer ul ul ul, div#navcontainer ul li:hover ul ul, div#navcontainer ul li:hover ul ul ul, div#navcontainer ul li:hover ul ul ul ul, div#navcontainer ul li:hover ul ul ul ul ul{
display:none;
}

div#navcontainer ul li:hover ul, div#navcontainer ul ul li:hover ul, div#navcontainer ul ul ul li:hover ul, div#navcontainer ul ul ul ul li:hover ul, div#navcontainer ul ul ul ul ul li:hover ul{
display:block;
}
/* @end */
/* @group Global Classes */

blockquote, .standout {
	font-style: italic;
	margin: 0;
	font-size: 1.2em;
}

h1 {
	font-size: 2em;
	padding: 5px 0;
	margin: 0;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
	padding: 5px 0;
	margin: 0;
	font-weight: normal;
}

h3 {
	font-size: 1.2;
	padding: 5px 0;
	margin: 0;
	font-weight: normal;
}

h4 {
	font-size: 1.1;
	padding: 3px 0;
	margin: 0;
	font-weight: normal;
}

.imageStyle {
}



/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}


/* Table Styles */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 4px 8px 4px 8px; /* top right bottom left */
    text-align: left;
}

th {
	background-color: #80A919
}

//tr:nth-child(even) {background-color: #80A919}

.message-text {
	padding-top: 10px; 
} 

.required-text {
} 

.form-input-field {
	
}

label{
	
} 

.form-input-button { 
} 

.reference-frame div {
	width: 66%;	
}
.reference-frame img {
	width: 33%;	
	float: right;
	padding-left: 5px;
}

.reference-frame {
	clear: right;
	border-style:solid;
	border-color:#5c5c5c;
	border-width:1px;
	background-color:#111111;
	margin: 10px;
	padding: 10px;
	font-size: 8pt;
}

.reference-frame:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


ul.speclist {
	list-style-image: none;
	list-style-type: disc;
	font-size: 8pt;
	padding-left: 15px;
	margin-top: 3px;
}
H2.body-text reference-frame {
	font-size: 7pt;
}

.product-frame img {
	width: 90%;	
	margin: 5%;
}
.product-frame-2 img {
	width: 90%;	
	margin: 5%;
}

.product-frame {
	border-style:solid;
	border-color:#5c5c5c;
	border-width:1px;
	background-color:#181818;
//	background-image: url('../../../img/img-bg.jpg');
	background-repeat: repeat;
	margin-bottom:6px;
	width: 23%;
	height: 230px;
	float: left;
	margin: 6px;
	text-align: center;
}
.product-frame-2 {
	border-style:solid;
	border-color:#5c5c5c;
	border-width:1px;
	background-color:#181818;
//	background-image: url('../../../img/img-bg.jpg');
	background-repeat: repeat;
	margin-bottom:6px;
	width: 15%;
	height: 180px;
	float: left;
	margin: 6px;
	text-align: center;
}

.product-spec-frame {
	border-style:solid;
	border-color:#5c5c5c;
	border-width:1px;
	background-color:#181818;
//	background-image: url('../../../img/img-bg.jpg');
	background-repeat: repeat;
	margin-bottom:16px;
	padding: 10px;
	line-height: 1em;
}
.product-spec-frame-2 {
	border-style:solid;
	border-color:#5c5c5c;
	border-width:1px;
	background-color:#181818;
	//background-image: url('../../../img/img-bg.jpg');
	background-repeat: repeat;
	margin-bottom:16px;
	margin-left:16px;
	padding: 10px;
	line-height: 1em;
	float: left;
	width: 470px;
	height: 360px;
}
.product-spec-frame-3 {
	border-style:solid;
	border-color:#5c5c5c;
	border-width:1px;
	background-color:#181818;
	//background-image: url('../../../img/img-bg.jpg');
	background-repeat: repeat;
	margin-bottom:16px;
	margin-left:0px;
	padding: 10px;
	line-height: 1em;
	float: left;
	width: 470px;
	height: 360px;
}
.code-frame {
	border-style:solid;
	border-color:#5c5c5c;
	border-width:1px;
	background-color:#222222;
	//background-image: url('../../../img/img-bg.jpg');
	background-repeat: repeat;
	margin-bottom:16px;
	padding: 10px;
	line-height: 1em;
	font-family: "Courier", monospace;
}

.image-frame {
	border-style:solid;
	border-color:#aaaaaa;
	border-width:1px;
	background-color:#333333;
	margin-bottom:6px;
	margin-top:6px;
	padding: 4px;
}
.link {
	color:#FFFFFF;
	cursor: pointer;
}
.portrait {
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 0px;
/*	border: 1px solid #aaaaaa;*/
}
ul.speclist {
	list-style-image: none;
	list-style-type: disc;
	font-size: 8pt;
	padding-left: 15px;
	margin-top: 0px;
}
ul.pdf {
	list-style-image: url(raw/pdf.gif);
	margin-bottom: 0px;
}

body {
	//background-color: #000000; /* %colour_page_background%;*/
	//background-color: #070B0F;
	background-color: #222222;
	color: #FFFFFF;
}

html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}

a:link, a:visited {
	color: #80A919;
}

#footerContainer {
	color: #FFFFFF;
	//background-color: #070B0F;
	background-color: #222222;
	border-top-color: #ACD83E;
}

#bar {
	background-color: #ACD83E;
	border-bottom-color:#9AC237;
}

#pageHeader {
	//background-color: #070B0F;
	background-color: #222222;
}

#navcontainer #current,
#navcontainer a:link.currentAncestor,
#navcontainer a:visited.currentAncestor {
	color: #5E6267;
}



#navcontainer ul ul #current, 
#navcontainer ul ul a:link.currentAncestor,
#navcontainer ul ul a:visited.currentAncestor {
	color: #638422;
	background-color: #B4E241;
	
}


#navcontainer a:link, 
#navcontainer a:visited {
	color: #FFFFFF;
}

#navcontainer a:hover, 
#navcontainer a:active {
	//color: #638422;
	text-decoration: underline;
	
}

.transparent_class {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#navcontainer ul ul {
	background-color: #ACD83E;
}

#navcontainer ul ul a:link, 
#navcontainer ul ul a:visited {
	color: #060B0F;
}

#navcontainer ul ul a:hover {
	color: #638422;
	background-color: #B4E241;
}

#navcontainer ul ul #current{
	color: #638422;
	background-color: #B4E241;
}

#navcontainer ul ul li {
	border-top-color: #BDED44;
	border-right-color: #9AC237;
	border-bottom-color:#9AC237;
	border-left-color: #9AC237;
}

#pageHeader h1 {
	color: #FFFFFF;
}

#pageHeader h2 {
	color: #80A919;
}

form {
	color: #ACD83E;
}

label {
	color:#070B0F;
}

/* @end */